body {
    background-color: rgb(44, 45, 65);
}

.card {
    background-color: rgb(81, 84, 121);
    border-color: rgb(81, 84, 121);
    color: white;
    width: 12rem;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 400px) {
    .card {
        width: 90%;
    }
}

.card-text,
.card-title {
    text-align: center;
}

.card-text {
    position: absolute;
    top: 0;
    left: 5px;
    top: 5px;
    background-color: rgb(44, 45, 65);
    padding: 3px 6px 3px 6px;
    font-size: 13px;
    border-radius: 10px;
    color: rgb(235, 220, 11);
}

.category--title {
    text-align: center;
    color: white;
    margin: 30px;
    margin-bottom: 10px;
}

.category--hr {
    background-color: white;
    margin: 0 auto;
}

.pagination {
    justify-content: center;
    outline: none;
}

.page-item a {
    color: white;
    background-color: rgb(81, 84, 121);
    border: 0px;
    outline: none;
}

.page-item a:hover {
    color: white;
    background-color: rgb(110, 113, 158);
}

.homeButton {
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
}

.homeButton:hover {
    color: rgb(110, 113, 158);
}

.fa-chevron-left {
    font-size: 20px;
}

.fa-chevron-left:hover {
    color: rgb(110, 113, 158);
}

.navbar {
    background-color: rgb(81, 84, 121);
}

input,
button {
    display: inline;
}

.searchInput {
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.btn {
    border-color: rgb(44, 45, 65);
    color: white;
    margin-top: -6px;
}

.btn:hover {
    background-color: rgb(44, 45, 65);
    border-color: rgb(44, 45, 65);
    color: white;
}

.searchForm {
    position: absolute;
    right: 10px;
    top: 8px;
}

.navbar {
    height: 50px;
}

a:hover {
    color: white;
    text-decoration: none;
}
